@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.woff') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Roboto-RegularItalic.woff') format('woff'),
        url('../fonts/Roboto-RegularItalic.woff2') format('woff2');
}